body {
    background-color: #18181b;
    font-family: "Zen Maru Gothic", "Gowun Batang"; 
}
/* 퀴즈 컨테이너는 기본적으로 숨김 */
#quiz-container {
    position: fixed; /* 뷰포트에 고정 */
    top: 50%; /* 세로 정렬 */
    left: 50%; /* 가로 정렬 */
    transform: translate(-50%, -50%); /* 요소의 크기에 맞게 정확히 가운데 위치 */

    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}
#mainlogo{
    width: 150px;
    margin: 25px 0 100px 10px;
}
#audio-icon:hover {
    transform: scale(1.2); /* 이미지를 확대 */
    opacity: 0.7; 
    cursor: pointer; 
}

#audio-icon:active {
    transform: scale(1.4); 
    opacity: 0.5; 
}
#start_p {
    font-size: 15px;
}
#quiz_p {
    margin: -32px -30px 30px 0;
    font-size: 17px;
}
p {
    text-align: center;
}
.question img {
    cursor: pointer; 
    transition: opacity 0.3s ease; 
}
.question img:hover {
    opacity: 0.3;
}
.choice {
    font-size: 15px;
    /* background-color: #f0f0f0; */
    border-radius: 5px;
    border: 0.5px solid rgb(131, 131, 131);
    margin: 10px 25px 20px 25px ;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.choice:hover {
    background-color: #cacaca;
}
.choice:active, #start_button:active {
    background-color: #647eda;
}

#start_button {
    border-radius: 5px;
    border: 0.5px solid rgb(131, 131, 131);
    margin: 10px 25px 20px 25px ;
    width: 100px;
    height: 40px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'monospace';
    background-color: #acb5d4;
    color: #fff;
    margin: 8px 100px 15px;
}
u {
    color: #da6464;
}
#correct-indicator {
    position: fixed; /* 뷰포트에 고정 */
    top: 50%; /* 세로 정렬 */
    left: 50%; /* 가로 정렬 */
    transform: translate(-50%, -50%); /* 요소의 크기에 맞게 정확히 가운데 위치 */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100%; 
    border-radius: 10px;
    opacity: 0; /* 초기 상태는 투명 */
    visibility: hidden; /* 초기 상태는 숨김 */
    text-align: center; 
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000; /* 다른 요소 위에 표시될 수 있도록 z-index 설정 */
}
#correct-indicator.show {
    opacity: 0.7; 
    visibility: visible; 
}
.subtext {
    margin: 10px 0;
    font-size: 12px;
    color: hsla(0, 0%, 0%, 0.55);
}
#audio-icon {
    width: 30px;
    margin-left: 15px;
}

h3 {
    text-align: center;
    margin-top: 25px;
}
h4 {
    font-size: 19px;
    font-weight: 450;
}
